@import './base.css';
.header{
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img{
    width: 30px;
}
.header .logo a{
    color: var(--maincolor);
}
.header .navbar a{
    color: #101928;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.header .auth {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header .auth a{
    font-family: var(--subfont);
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
}
.header .auth .login {
    color: var(--maincolor);
    border:2px solid #545BE8;
}
.header .auth .register {
    background-color: var(--maincolor);
    color: #fff;
}
@media (max-width:992px){
    .navbar{
        display: none;
    }
}

.footer{
    background-color: #393B46;
    color: #fff;
    padding: 50px 0;
}
.footer a{
    color: #fff;
}
.footer .row{
    gap: 40px;
}
.footer-start,
.footer-end
{
    width: calc((100% - 40px) / 2);
}
.footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .logo img{
    width: 30px;
}
.footer .footer-start .logo a{
    font-size: 14px;
}
.footer .footer-start .logo p{
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}
.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}