@import './base.css';
.header{
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 0;
    background-color: #fff;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img{
    width: 30px;
}
.header .logo a{
    color: var(--maincolor);
}
.header .navbar a{
    color: #101928;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.header .auth {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header .auth a{
    font-family: var(--subfont);
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
}
.header .auth .login {
    color: var(--maincolor);
    border:2px solid #545BE8;
}
.header .auth .register {
    background-color: var(--maincolor);
    color: #fff;
}
@media (max-width:992px){
    .navbar{
        display: none;
    }
}
.testimonials{
    text-align: center;
    padding: 40px 0;

}
.testimonials h2{
    margin-bottom: 20px;
}
.testimonials .row{
    gap: 40px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: calc((100% - 40px) / 2);
    align-items: flex-start;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}
.testimonial:after{
    content:'';
    border-top: 40px solid #8c8b8b;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.testimonial .user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial q{
    color: #646464;
}
.testimonial blockquote p{
    display: inline-block;
    padding: 0 10px;

}

.footer{
    background-color: #393B46;
    color: #fff;
    padding: 50px 0;
}
.footer a{
    color: #fff;
}
.footer .row{
    gap: 40px;
}
.footer-start,
.footer-end
{
    width: calc((100% - 40px) / 2);
}
.footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .logo img{
    width: 30px;
}
.footer .footer-start .logo a{
    font-size: 14px;
}
.footer .footer-start .logo p{
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}
.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}