@import './base.css';
.header{
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 0;
    background-color: #fff;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img{
    width: 30px;
}
.header .logo a{
    color: var(--maincolor);
}
.header .navbar a{
    color: #101928;
}
.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.bars-menu{
    display:none;
}
.header .auth {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.header .auth a{
    font-family: var(--subfont);
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
}
.header .auth .login {
    color: var(--maincolor);
    border:2px solid #545BE8;
}
.header .auth .register {
    background-color: var(--maincolor);
    color: #fff;
}
@media (max-width:992px){
    .navbar{
        display: none;
    }
    .bars-menu{
        display: inline-block;
    }
    .header .auth{
        display: none;
    }
}
@media (max-width:355px){
    .container{
        width: calc(100% - 40px);

    }
}
.begining{
    padding: 30px 0 80px;
    margin-top: 80px;
    background-color: #FFFFFF;
}
.begining .begining-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc((100% / 2 ) - 40px);
}
.begining .begining-text p:first-of-type{
    color: var(--maincolor);
    font-size: 20px;
    text-transform: capitalize;
    font-family: var(--subfont);
}
.begining .begining-text p:first-of-type span{
    font-size: 22px;
    font-weight: bold;
}
.begining .begining-text h1{
    color: #141E32 ;
    font-size: 70px;
    text-transform: capitalize;
}
.begining .begining-text h1 span{
    color: var(--maincolor);
}
.begining .begining-text p:last-of-type{
    color: #969696 ;
    width: 89%;
}
.begining .begining-text .auth{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 25px;
}
.begining .begining-text .auth .register{
    font-family: var(--subfont);
    padding: 10px 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    background-color: var(--maincolor);
    color: #fff;
}
.begining .begining-text .auth a:last-of-type{
    font-family: var(--subfont);
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: capitalize;
    color: #131e31;
    font-weight: bold;
}
.begining .begining-text .auth a:last-of-type img{
    width: 30px;
}
.begining .image{
    width:calc((100% / 2) - 40px);
}
.begining .image img{
    display: flex;
    width: 100%;
}
@media (max-width:800px){
    .begining .begining-text h1{
        font-size: 40px;
    }
}
@media (max-width:570px){
    .begining .image img{
        display: none;
    }
    .begining .begining-text {
        width: 100%;
        text-align: center;
        align-items: center;
    }  
}

.services{
    padding: 40px 0;
}
.services .container .row{
    gap: 40px;
}
.services .sericves-description{
    width: calc((100% / 4) - 40px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}
.services .sericves-description p:first-of-type{
    color: var(--maincolor);
    font-family: var(--subfont);
}
.services .sericves-description h2{
    color: #141E32;
    font-size: 40px;
}
.services .sericves-description p:last-of-type{
    color: #969696;
}
.services .services-box{
    width: calc(3 * (100% / 4) - 60px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.services .services-box .service{
    width: calc((100% / 3) - 40px);
    background-color: var(--maincolor);
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.services .services-box .service img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius:50% ;
    margin-top: 30px;
    margin-bottom: 20px;
}
.services .services-box .service h3{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
}
.services .services-box .service p{
    color: #DDDDDD;
}
@media (max-width:970px){
    .services .services-box .service h3{
        font-size: 15px;
    }
    .services .services-box .service p{
        font-size: 14px;
    }
}
@media (max-width:835px){

    .services .services-box .service h3{
        font-size: 10px;
    }
    .services .services-box .service p{
        font-size: 10px;
    }
    .services .services-box .service img{
        width: 40px;
        height: 40px;
    }
    .services .sericves-description p:first-of-type{
        font-size: 15px;
    }
    .services .sericves-description h2{
        font-size: 25px;
    }
    .services .sericves-description p:last-of-type{
        font-size: 12px;
    }
}
@media (max-width:710px){
    .services .sericves-description{
        width: 100%;
    }
    .services .services-box{
        width: 100%;
    }
}
@media (max-width:490px){
    .services .services-box .service {
        width: 100%;
    }
}
.statistics{
    padding: 25px 0;
    background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
}
.statistics .row{
    gap: 80px;
}
.statistics img{
    width:calc((100% / 2) - 80px);
}
.statistics .text{
    align-self: flex-start;
    width: calc((100% / 2) - 80px);
    padding: 60px 0;
}
.statistics .text p.selected{
    text-transform: uppercase;
    color: #F0C932;
    margin-top: 50px;
    font-size: 18px;
}
.statistics .text h2{
    width: 50%;
    font-size: 35px;
    text-transform: capitalize;
    color: white;
    margin: 20px 0;
}
.statistics .text p.paragraph{
    color: #DDDDDD;
    width: 85%;
    margin-bottom: 40px;
}
.statistics .detail{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.statistics .detail p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #F0C932;
}
.statistics .detail p span{
    font-size: 14px;
    font-weight: 200;
    text-transform:capitalize ;
    color: #DDDDDD;
}
@media (max-width:700px){
    .statistics img{
        width: 200px;
        height: 200px;
    }
    .statistics .text p.selected{
        font-size: 15px;
    }
    .statistics .text h2{
        font-size: 30px;
    }
    .statistics .text p.paragraph{
        font-size: small;
    }
    .statistics .detail p{
        font-size: 15px;
    }
    .statistics .detail p span{
        font-size: 10px;
    }
}
@media (max-width:600px){
    .statistics .text{
        width: 100%;
    }
    .statistics .row{
        gap: 0;
    }
    .statistics .text h2{
        width: 100%;
    }

}

.courses{
    padding: 40px 0;
}
.courses .row{
    gap: 60px;
    align-items: start;
}
.courses .courses-items{
    width: calc(2 * (100% / 3) - 30px);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.courses .courses-items .course{
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.41);
    width: calc( (100% /2) - 15px);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.courses .courses-items .course .image{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.courses .courses-items .course .image img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
}
.courses .courses-items .course .image .over{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.courses .courses-items .course .image .over span:first-of-type{
    align-self: flex-start;
    padding: 10px;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--maincolor);
}
.courses .courses-items .course .image .over span:last-of-type{
    align-self: flex-end;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.courses .courses-items .course .details{
    padding: 10px 20px;
}
.courses .courses-items .course .details .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses .courses-items .course .details .title h3{
    font-size: 24px;
    color: #141E32;
}
.courses .courses-items .course .details .title span{
    color: var(--maincolor);
}
.courses .courses-items .course .details .content{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
    color: #969696;
}
.courses .description{
    width:calc((100% / 3) - 30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.courses .description p:first-of-type{
    color: var( --maincolor);
    font-size: 18px;
    text-transform: capitalize;
}
.courses .description h2{
    font-size: 30px;
    width: 50px;
    color: #141E32;
    line-height: 50px;
}
.courses .description p:last-of-type{
    font-size: 18px;
    color: #969696;
}
.courses .description a{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: capitalize;
    color: white;
    background-color: var(--maincolor);
}
@media (max-width:982px){
    .courses .courses-items .course .image .over span:first-of-type{
        font-size: 14px;
    }
    .courses .courses-items .course .image .over span:last-of-type{
        font-size: 15px;
    }
    .courses .courses-items .course .details .title{
        flex-direction: column;
    }
}
@media (max-width:850px){
    .courses .courses-items .course .image .over span:first-of-type{
        font-size: 11px;
    }
    .courses .courses-items .course .image .over span:last-of-type{
        font-size: 12px;
    }
    .courses .courses-items .course .details .title h3{
        font-size: 18px;
    }
    .courses .courses-items .course .details .title span{
        font-size: smaller;
    }
    .courses .courses-items .course .details .content{
        font-size: 14px;
    }
    .courses .description p:first-of-type{
        font-size: 14px;
    }
    .courses .description h2{
        font-size: 23px;
    }
    .courses .description p:last-of-type{
        font-size: 14px;
    }
    .courses .description a{
        width: 120px;
    }
}
@media (max-width:750px){
    .courses .courses-items{
        width: 100%;
    }
    .courses .description{
        width: 100%;
    }
    .courses .description p:first-of-type{
        text-align: center;
    }
    .courses .description h2{
        width: 100%;
        text-align: center;

    }
    .courses .description p:last-of-type{
        text-align: center;
    }
    .courses .description a{
        align-items: center;
        text-align: center;
    }
}
@media (max-width:510px){
    .courses .courses-items .course .image .over span:first-of-type{
        font-size: 8px;
    }
    .courses .courses-items .course .image .over span:last-of-type{
        font-size: 9px;
    }
    .courses .courses-items .course .details .title h3{
        font-size: 15px;
    }
    .courses .courses-items .course .details .title span{
        font-size: small;
    }
    .courses .courses-items .course .details .content{
        font-size: 11px;
    }
    .courses .description p:first-of-type{
        font-size: 11px;
    }
    .courses .description h2{
        font-size: 20px;
    }
    .courses .description p:last-of-type{
        font-size: 11px;
    }
    .courses .description a{
        width: 110px;
    }
}
@media (max-width:447px){
    .courses .courses-items .course .image .over span:first-of-type{
        font-size: 6px;
    }
    .courses .courses-items .course .details .content{
        flex-direction: column;
    }

}


.testimonials{
    text-align: center;
    padding: 40px 0;

}
.testimonials h2{
    margin-bottom: 20px;
}
.testimonials .row{
    gap: 40px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    width: calc((100% - 40px) / 2);
    align-items: flex-start;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}
.testimonial:after{
    content:'';
    border-top: 40px solid #8c8b8b;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.testimonial .user-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial q{
    color: #646464;
}
.testimonial blockquote p{
    display: inline-block;
    padding: 0 10px;
}
@media (max-width:750px){
    .testimonial{
            width: 100%;
    }
}

.footer{
    background-color: #393B46;
    color: #fff;
    padding: 50px 0;
}
.footer a{
    color: #fff;
}
.footer .row{
    gap: 40px;
}
.footer-start,
.footer-end
{
    width: calc((100% - 40px) / 2);
}
.footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 400px;
}
.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .logo img{
    width: 30px;
}
.footer .footer-start .logo a{
    font-size: 14px;
}
.footer .footer-start .logo p{
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    padding: 10px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
}
.footer-end{
    flex-grow: 1;
}
.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width:850px){
    .footer-start{
        text-align: center;
        align-items: center;
    }
}